<html>
	<head>
		<title>Strona Piwosza</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Strona Piwosza</a></h1>
		<div>
		
		<div>
			<p>published: 30.05.2018, 19:55</p>
			<h2><a href="">Specjal</a></h2>
			<p>Specjal czyli najlepsze piwo na swiecie, jego smak najlepiej definiuje powiedzenie "jakby sam Jezusek bosa stopka po gardelku stapal" albo "Bo po zloto trzeba sie schylic", mozna go pozyskac tylko w regionie pomorskim.</p>
		</div>

		<div>
			<p>published: 30.05.2018, 20:00</p>
			<h2><a href="">Wojak</a></h2>
			<p>Nie ma co sie rozwodzic nad tym gatunkiem, piwo nie zalicza sie do wybornych</p>
		</div>
	</body>
</html>
